:root {
    --main-bg-color: white;
    --main-fg-color: white;

    --action-bg-color: darkblue;
    --action-fg-color: white;

    --navbar-bg-color: white;
    --navbar-fg-color: black;

    --hero-bg-color: red;
    --hero-fg-color: black;
    --hero-logo-shadow: #f55;
    --hero-quote-color: orange;
    --hero-quote-shadow: #664646;
  
    --banner-border-color: rgb(63, 49, 92);
    --banner-bg-color: rgb(183, 183, 207);
    --banner-fg-color: rgb(35, 43, 62);
  
    --section-border-color: rgb(63, 49, 92);
    --section-bg-color: rgb(70, 70, 136);
    --section-fg-color: white;
  
    --newsmini-border-color: rgb(63, 49, 92);
    --newsmini-bg-color: rgb(231, 202, 122);
    --newsmini-fg-color: black;
    --newsmini-img-border: orange;
  
 
    --post-bg-color: rgb(210, 210, 215);
    --post-fg-color: rgb(35, 43, 62);
    --post-border-color: darkgrey;
  
    --footer-border-color: grey;
    --footer-bg-color: darkgrey;
    --footer-fg-color: black;
  
    --donation-border-color:rgb(80, 179, 255);
    --donation-bg-color: lime;
    --donation-fg-color: black;
    --donation-body-default: rgb(2,0,36);
    --donation-grad-start: rgba(2,0,36,0.5);
    --donation-grad-mid: rgba(9,9,121,0.5);
    --donation-grad-end: rgba(0,212,255,0.5);
    --donation-body-fg-color: white;
    --donation-body-shadow: black;
  
    --email-border-color:rgb(28, 78, 59);
    --email-bg-color: lime;
    --email-fg-color: black;
    --email-body-default: rgb(2,0,36);
    --email-grad-start: rgba(2,0,36,0.5);
    --email-grad-mid: rgba(9,9,121,0.5);
    --email-grad-end: rgba(0,212,255,0.5);
    --email-body-fg-color: white;
    --email-body-shadow: black;
  
    --modal-fg-color: black;
  
    --font-hero-quote:          'Tilt Warp', cursive;
    --font-section-title:       'Roboto', sans-serif;
    --font-subheading:          'Roboto', sans-serif;
    --font-banner-caption:      'Roboto', sans-serif;
    --font-banner-subheading:   'Roboto', sans-serif;
    --font-banner-body:         'Roboto', sans-serif;
    --font-newsmini-caption:    'Roboto', sans-serif;
    --font-newsmini-subheading: 'Roboto', sans-serif;
    --font-newsmini-body:       'Playfair Display', serif;
    --font-menu-item:           'Tilt Warp', cursive;
    --font-button-text:         'Montserrat', sans-serif;
    --font-footer-text:         'Playfair Display', serif;
  }